#tabs
{
	position: absolute;
	top: 20%;
	/*background-color: #6A7B75;*/
	width: 90%;
	font: 20pt Arial;
	/*color: white;*/
	margin: 0;
}

#tabs span
{
	padding: 0.1% 4% 0.1% 4%;
	margin: 0;
}

#li_tab1
{
	background-color: #58A17F;
}

#users, #announcements
{
	display: none;
}

#tabs span:hover
{
	cursor: pointer;
}

#content
{
	padding: 0 15px;
	top: 25%;
	line-height:19px;
	position: absolute;
	height: 75%;
	width: 90%;
	/*background-color: #58A17F;*/
	padding: 2% 0 0 4%;
}

/* Update Content */

#update
{
	margin: 0%;
	position: absolute;
	width: 90%;
	height: 50%;
}

#myTable
{
	/*color: white;*/
	font: 20pt Arial;
}

#myTable th
{
	/*background-color: #4E82BD;*/
	text-align: center;
}

#myTable td
{
	/*background-color: #54B275;*/
	border-width: 2px;
	border-style: solid;
	border-color: green;
}

/* Users Content */

#users
{
	position: absolute;
	width: 90%;
	height: 50%;
}

option: first
{
	color: #999;
}

#users span
{
	font: 20pt Bauhaus-93;
	/*color: white;*/
}

#picture
{
	width: 120px;
	height: 120px;
	margin: 1% 0 0 12%;
}