/* for the content */

#content
{
	z-index: -1;
	/*background-color: #B7AEAE;*/
	position: absolute;
	width: 90%;
	height: 100%;
}

#content span
{
	font-size: 25pt;
}

#picture
{
	position: absolute;
	top: 27%;
	left: 6%;
	width: 17%;
	height: 30%;
}

.bold
{
	font-weight: bolder;
	color: #F3FFFF;
}

.right
{
	width: 35%;
	text-align: right;
	padding-right: 3%;
}

#info
{
	position: absolute;
	top: 27%;
	left: 30%;
}

#info td
{
	padding-bottom: 2%;
}