.center {
    position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
}
.arrow {
    padding-bottom: 4px;
}
.pull-right-absolute {
    position: absolute;
    right: 0px;
    left: auto;
}
/* Bootstrap Modifications */
/* Colorize Modal Header */

body {
  padding-top: 8%;
  background-color: black;
}
#alert {
    display: none;
}
.checkbox-inline {
    padding-top: 10px!important;
}