*
{
	overflow: hidden;
}

.content
{
	background-color: #DDDDDD;
	position: absolute;
	width: 85.5%;
	left: 7.25%;
	height: 100%;
}

.container
{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	background-color: #202020;
}

/* table start */
.table
{
	position: absolute;
	width: 74.7%;
	height: 80%;
	top: 0%;
	left:0%;
	padding: 1%;
	background-color: #043B63;
	box-shadow: 0px 0px 5px Gray;
	color: white;
}

#myTable th
{
	border-color: LightSteelBlue;
	border-style: solid;
	border-width: 3px;
	text-align: center;
}

#myTable td
{
	width: 25%;
	border-color: LightSteelBlue;
	border-style: solid;
	border-width: 3px;
}

#myTable
{
	font: 20pt Arial;
	position: absolute;
	width: 97%;
	height: 100%;
	text-align: center;
}
/* table end */

/* clock start */
#clock
{
	position: absolute;
	background-color: #00407E;
	font: 135% Arial;
	font-weight: bolder;
	text-align: center;
	width: 8%;
	height: 10.1%;
	top: 88.9%;
	padding-top: 1%;
	left: 0.3%;
	box-shadow: 0px 0px 3px Gray;
}

p
{
	margin: auto;
}
/* clock end */

/*announcement start */
.announcement
{
	position: absolute;
	background-color: white;
	top: 88.9%;
	left: 8.7%;
	padding: 0.5% 1% 0.5% 2%;
	font: 160% Arial;
	font-weight: bolder;
	width: 49.2%;
	height: 10.1%;
	color: black;
	box-shadow: 0px 0px 3px Gray;
}
/* announcement end */

/* title start */
.title
{
	position: absolute;
	left: 0.3%;
	top: 81%;
	width: 20.5%;
	height: 7.3%;
	background-color: #FF6800;
	color: white;
	font: 145% Arial;
	font-weight: bolder;
	padding: 1% 0.5% 0.5% 0.6%;
	box-shadow: 0px 0px 3px Gray;
}
/* title end */

/* bar start */
.bar
{
	position: absolute;
	top: 81%;
	background-color: black;
	width: 78.6%;
	height: 7.3%;
	right: 0.25%;
	box-shadow: 0px 0px 3px Gray;
}
/* bar end */

/* graph start */
.graph
{
	position: absolute;
	right: 0.5%;
	z-index: 100;
	width: 24%;
	height: 30%;
	top: 31%;
}

.graph img
{
	width: 100%;
	height: 100%;
}
/* graph end */

/* 	weather start */
.weather
{
	background-color: #48555F;
	width: 24%;
	top: 0.5%;
	position: absolute;
	height: 30%;
	right: 0.5%;
}
/* weather end */